.fit-cont {
  /* padding: 1rem; */
  margin: 1rem;
}
.title {
  color: #3c00ff;
  font-size: 1.5rem;
  font-weight: 400px;
}
.title:hover {
  text-decoration: none;
  color: #009dff;
}
.product-card-description {
  padding: 1rem;
  background-color: azure;
}
