.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .filter {
  filter: invert(0.499) sepia(0.9) saturate(0%) hue-rotate(86deg)
    grayscale(100%) brightness(100%) contrast(119%);
} */
.filter-nav:hover {
  filter: invert(0.2) sepia(0.1) saturate(0.2) hue-rotate(0deg) grayscale()
    brightness(100%) contrast(100%);
}
/* .filter-nav{
    filter: invert(0.5) sepia(0.9) saturate(0%) hue-rotate(86deg) grayscale(100%)
    brightness(100%) contrast(119%) blur(0.3px);
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: logo;
  src: url("./Assets/fonts/GenesissRegularDemo-rg4Jp.otf") format("otf");
  src: url("./Assets/fonts/Aquire-Light.woff2") format("woff2");
  src: url("./Assets/fonts/Aquire.woff") format("woff");
  src: url("./Assets/fonts/Aquire-Light.woff") format("woff");
}
.angry-animate {
  -webkit-animation: change-color 5s ease-in-out 0s infinite normal;
  -moz-animation: change-color 5s ease-in-out 0s infinite normal;
  -ms-animation: change-color 5s ease-in-out 0s infinite normal;
  animation: change-color 5s ease-in-out 0s infinite normal;
}
.text-primary-500 {
  color: #007bffd0;
}

@-webkit-keyframes change-color {
  0% {
    color: #f9edfa;
  }
  25% {
    color: #b494b6;
  }
  50% {
    color: rgb(239, 210, 255);
  }
  75% {
    color: rgb(234, 206, 255);
  }
  100% {
    color: rgb(236, 200, 255);
  }
}

@keyframes change-color {
  0% {
    color: #f9edfa;
  }
  25% {
    color: #fcd2ff;
  }
  50% {
    color: rgb(239, 210, 255);
  }
  75% {
    color: rgb(234, 206, 255);
  }
  100% {
    color: rgb(236, 200, 255);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px -800px;
  }
  100% {
    background-position: 800px 800px;
  }
}

.loading-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}
